*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.d-mobile{
    display: none;
}
.d-desktop{
    display: block;
}
@media (max-width: 767px) {
    .d-mobile{
        display: block!important;
    }
    .d-desktop{
        display: none!important;
    }
}

.wrp{
    overflow: hidden;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.franshise-btn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1262D8;
    text-decoration: none;
    padding: 18px;
    border: 2px solid #E30613;
    border-radius: 50px;
    max-width: 310px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.franshise-btn:before{
    content: '';
    position: absolute;
    top: 5px;
    left: 6px;
    width: 100%;
    height: 100%;
    border: 0.5px solid #101011;
    border-radius: 50px;
    pointer-events: none;
}
.franshise-btn.color1{
    color: #E30613;
    border-color:#1262D8;
}
.franshise-btn.color2{
    color: #FF7101;
    border-color:#E30613;
}
.franshise-btn.color3{
    color: #1262D8;
    border-color:#FF7101;
}

.franshise-hero{
    position: relative;
    margin-bottom: 123px;
}
.franshise-hero__bg{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}
.franshise-hero__decor{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.franshise-hero__decor .left{
    background-image: url("../img/franshise-hero-decor-left.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 95px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 0;
}
.franshise-hero__decor .right{
    background-image: url("../img/franshise-hero-decor-right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 182px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
}
.franshise-hero__decor .bottom{
    background-image: url("../img/franshise-hero-decor-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 102px;
    height: 156px;
    position: absolute;
    bottom: -78px;
    left: 0;
}
.franshise-hero__decor .plus{
    content: '';
    position: absolute;
    bottom: 122px;
    left: 219px;
    background-image: url("../img/franshise-hero-text-decor.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.franshise-hero__body{
    max-width: 955px;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    top: 122px;
    left: 0;
    right: 0;
    display: flex;
    gap: 16px;
}
.franshise-hero__logo{
    flex-shrink: 0;
    width: 102px;
    height: 91px;
}
.franshise-hero__text{
    flex: 1 0 566px;
    max-width: 566px;
    position: relative;
}
.franshise-hero__text:before{
    content: '';
    position: absolute;
    top: -38px;
    right: -2px;
    background-image: url("../img/franshise-hero-text-decor.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}
.franshise-hero__text:after{
    content: '';
    position: absolute;
    top: 219px;
    left: -200px;
    background-image: url("../img/franshise-hero-text-decor2.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    pointer-events: none;
}
.franshise-hero__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #E30613;
    margin: -5px 0 14px;
}
.franshise-hero__title .color1{
    color: #E30613;
}
.franshise-hero__title .color2{
    color: #FF7101;
}
.franshise-hero__title .color3{
    color: #1262D8;
}
.franshise-hero__subtitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    margin: 0 0 39px;
}


.franshise-items{
    margin-bottom: 37px;
}
.franshise-items__body{
    max-width: 1005px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 38px;
    position: relative;
}
.franshise-items__body:before{
    content: '';
    position: absolute;
    top: -65px;
    right: -152px;
    background-image: url("../img/franshise-items-decor1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 26px;
    height: 26px;
}
.franshise-items__body:after{
    content: '';
    position: absolute;
    top: 253px;
    left: -149px;
    background-image: url("../img/franshise-items-decor2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 75px;
    height: 75px;
}
.franshise-items__item{
    display: flex;
    flex-direction: column;
}
.franshise-items__item.color1 .franshise-items__figure{
    border: 5px solid #1262D8;
}
.franshise-items__item.color2 .franshise-items__figure{
    border: 5px solid #E30613;
}
.franshise-items__item.color3 .franshise-items__figure{
    border: 5px solid #FF7101;
}
.franshise-items__item.color1 .franshise-items__list li:before{
    background-color: #1262D8;
}
.franshise-items__item.color2 .franshise-items__list li:before{
    background-color: #E30613;
}
.franshise-items__item.color3 .franshise-items__list li:before{
    background-color: #FF7101;
}
.franshise-items__figure{
    width: 264px;
    height: 264px;
    background-color: #ffffff;
    border: 5px solid #1262D8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin: 0 0 92px;
}
.franshise-items__figure:before{
    content: '';
    position: absolute;
    top: 22px;
    left: 22px;
    width: 100%;
    height: 100%;
    border: 0.5px solid #101011;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
}
.franshise-items__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}
.franshise-items__list{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    list-style: none;
    margin: 0;
    padding: 0;
}
.franshise-items__list li{
    position: relative;
    padding-left: 56px;
    margin-bottom: 27px;
}
.franshise-items__list li:last-child{
    margin-bottom: 0;
}
.franshise-items__list li:before{
    content: '';
    position: absolute;
    top: 5px;
    left: 9px;
    background-color: #1262D8;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
.franshise-items__list li:after{
    content: '';
    position: absolute;
    top: 14px;
    left: 17px;
    background-color: transparent;
    border: 1px solid #000000;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.franshise-items .franshise-btn{
    max-width: 220px;
    margin: auto 0 0;
}

@media (max-width: 1023px) {
    .franshise-hero__body{
        top: 82px;
    }
    .franshise-hero__decor .left{
        width: 76px;
        height: 56px;
    }
    .franshise-hero__decor .right{
        width: 121px;
        height: 105px;
    }
    .franshise-hero__decor .bottom{
        width: 80px;
        height: 124px;
        bottom: -67px;
    }
    .franshise-hero__decor .plus{
        bottom: 122px;
        left: 40px;
    }
    .franshise-hero__text{
        flex: 1 0 500px;
        max-width: 500px;
        position: relative;
    }
    .franshise-hero__title{
        font-size: 34px;
        line-height: 48px;
        margin: -5px 0 14px;
    }
    .franshise-hero__subtitle{
        font-size: 22px;
        line-height: 32px;
        margin: 0 0 39px;
    }

    .franshise-items__figure{
        width: 200px;
        height: 200px;
        margin: 0 0 62px;

    }
    .franshise-items__list{
        font-size: 14px;
        line-height: 22px;
    }
    .franshise-items__list li{
        padding-left: 36px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .franshise-btn{
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        padding: 8px;
        border-width: 1px;
    }
    .franshise-btn:before{
        top: 2px;
        left: 3px;
    }

    .franshise-hero__decor .left{
        width: 49px;
        height: 40px;
        top: -1px;
        left: -7px;
    }
    .franshise-hero__decor .right{
        width: 121px;
        height: 105px;
    }
    .franshise-hero__decor .right,
    .franshise-hero__decor .bottom,
    .franshise-hero__decor .plus{
        display: none;
    }
    .franshise-hero__body{
        top: 34px;
        gap: 20px;
    }
    .franshise-hero__text{
        flex: 1 0 100%;
        max-width: 234px;
        position: relative;
    }
    .franshise-hero__text:before{
        top: 47px;
        right: 45px;
        background-size: 100%;
        width: 16px;
        height: 16px;
    }
    .franshise-hero__text:after{
        top: 116px;
        left: -51px;
        background-size: 100%;
    }
    .franshise-hero__logo{
        width: 48px;
        height: 42px;
    }
    .franshise-hero__title{
        font-size: 20px;
        line-height: 27px;
        margin: -4px 0 10px;
    }
    .franshise-hero__subtitle{
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 10px;
        max-width: 170px;
    }
    .franshise-hero .franshise-btn{
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        padding: 8px;
        max-width: fit-content;
    }

    .franshise-items{
        margin-bottom: 100px;
    }
    .franshise-items__body{
        flex-wrap: wrap;
        justify-content: center;
        gap: 54px;
    }
    .franshise-items__item{
        display: block;
        width: 100%;
    }
    .franshise-items__figure{
        width: 177px;
        height: 177px;
        margin: 0 auto 47px;
    }
    .franshise-items__figure:before{
        top: 12px;
        left: 12px;
    }
    .franshise-items__content{
        padding-left: 68px;
        gap: 41px;
    }
    .franshise-items__list{
        font-size: 13px;
        line-height: 18px;
    }
    .franshise-items__list li{
        position: relative;
        padding-left: 44px;
        margin-bottom: 27px;
    }
    .franshise-items__list li:before{
        top: 2px;
        left: 0;
        width: 12px;
        height: 12px;
    }
    .franshise-items__list li:after{
        top: 9px;
        left: 6px;
        width: 6px;
        height: 6px;
    }
    .franshise-items .franshise-btn{
        font-size: 13px;
        line-height: 14px;
        padding: 14px;
        border-width: 3px;
        max-width: 195px;
    }
    .franshise-btn:before{
        top: 3px;
        left: 2px;
    }

}